.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 30vw;
  margin: 0 auto;
}

.formItem {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 10px;
  }
}